<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>About - Box Office Atlas</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet">
  <link href="/css/loaders.css" rel="stylesheet">
</head>
<body>
  <div class="login-container">
    <h2>ABOUT BOX OFFICE ATLAS</h2>
    <p id="movie-summary">Box Office Atlas aka "BOA" is a web-app that visualizes the global economic performance of box office films, providing users with an interactive way to explore their favourite films' success.
    <br> The application achieves this by running my own API to scrape the DOM of a Box Office Mojo page, processing the information <br> and sending the relevant data to the front-end where the MapBox powered globe can populate a 3D projection of earth with the right values.</p>
    <a class="register-link" href="/login">Want to explore? Login / Register here.</a>
  </div>
</body>
</html>
