<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login - Box Office Atlas</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet">
  <link href="/css/loaders.css" rel="stylesheet">
</head>
<body>
  <div class="login-container">
    <h2>LOGIN</h2>
    <form action="/post-login" method="post">
      <input type="text" id="username" name="username" placeholder="Username" required>
      <input type="password" id="password" name="password" placeholder="Password" required>
      <button type="submit">SIGN IN</button>
    </form>
    <% if (message) { %>
      <p style="color: lightgreen;"><%= message %></p>
    <% } %>
    <% if (error) { %>
      <p style="color: red;"><%= error %></p>
    <% } %>
    <a class="register-link" href="/register">Don't have an account? Register here.</a>
  </div>
</body>
</html>
