/* Login Page */
body {
    margin         : 0;
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center
}

.login-container {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    height          : 100%;
    padding         : 20px;
    background-color: hsl(240, 10%, 8%);
    text-align      : center;
}

h2 {
    font      : 1.5em 'HelveticaNow_Bold', sans-serif;
    font-style: italic;
    color     : white;
}

form {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 100%;
    max-width     : 300px;
}

input[type="text"],
input[type="password"] {
    width        : 90%;
    padding      : 15px;
    margin-bottom: 15px;
    border       : none;
    border-radius: 10px;
    box-shadow   : 0 4px 15px rgba(0, 0, 0, 0.5);
    font-size    : .9em;
    background   : hsla(240, 4%, 20%, 1);
    font-family  : 'AvenirNext-Bold', sans-serif;
    font-weight  : bold;
    color        : white;
    outline      : none;
}

button[type="submit"] {
    width        : 100%;
    padding      : 10px;
    border       : none;
    border-radius: 10px;
    background   : hsl(240, 4%, 20%);
    color        : white;
    font-size    : .9em;
    font-family  : 'HelveticaNow_Bold', sans-serif;
    box-shadow   : 0 4px 15px rgba(0, 0, 0, 0.5);
    cursor       : pointer;
    transition   : background-color 0.3s;
}

button[type="submit"]:hover {
    background: hsl(240, 4%, 25%);
}

.register-link {
    margin-top     : 10px;
    color          : hsla(240, 4%, 20%, 1);
    font-family    : 'HelveticaNow_Medium', sans-serif;
    text-decoration: none;
    font-size      : 0.9em;
    transition     : color 0.3s;
}

.register-link:hover {
    color: white
}