/* Title Preview Containers */
.titles-container {
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    align-items    : flex-end;
    max-width      : 90vw;
    height         : 38%;
    overflow-x     : auto;
    overflow-y     : hidden;
    padding        : 10px;
    box-sizing     : border-box;
    scrollbar-color: hsl(240, 4%, 20%) hsl(240, 8%, 10%);
    gap            : 1rem;
}

#title-form {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    flex          : 0 0 auto;
    width         : auto;
    max-width     : 16vh;
    padding-left  : 10px;
    padding-right : 10px;
}

#title-container {
    width     : 16vh;
    flex      : 0 0 auto;
    opacity   : 0.5;
    transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#title-container:hover {
    opacity: 1;
}

#movie-small-poster {
    width        : 16vh;
    height       : auto;
    margin       : 20px 0 5px 0;
    border-radius: 10px;
    box-shadow   : 0 4px 15px rgba(0, 0, 0, 0.3);
}

button[type="submit"] {
    width        : 100%;
    padding      : 10px;
    border       : none;
    border-radius: 10px;
    background   : hsl(240, 4%, 20%);
    color        : white;
    font-size    : .9em;
    font-family  : 'HelveticaNow_Bold', sans-serif;
    box-shadow   : 0 4px 15px rgba(0, 0, 0, 0.5);
    cursor       : pointer;
    transition   : background-color 0.3s;
}

button[type="submit"]:hover {
    background: hsl(240, 4%, 25%);
}